<div class="tweet-box">
  <div class="form class="form-group"">


    <%=form_for @tweet do |form| %>

      <div class="field">

        <%= form.text_area :text, class: "form-control", id: 'froala-editor' %>

      </div>
        <%= form.submit 'Post', class:"btn btn-large btn-primary", id:"new_user"%>
    <%end%>


</div>
