<div class="tweet-box">
  <%= form_for @tweet do |form| %>
    <div class="field">
      <%= form.text_area :text, class: "form-control"%>
      </div>
      <%= form.submit 'Post', class:"btn btn-large btn-primary" %>
  <%end%>
</div>
