<div class="profile clearfix">
  <%= form_tag  search_index_path, method: :get, class:"navbar-form navbar-left" do %>
    <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search" %>
    <%= submit_tag 'Search',  class:"btn btn-raised btn-primary" %>
  <% end %>
</div>

  <% if @users.present? %>
    <%= render partial: "partials/show_users", locals: {users: @users}%>
  <% else %>
      <h4>Ooops....User not found</h4>
  <% end %>
